// Styling for the footer
footer {
    padding: 25px 0;
    text-align: center;
    color: fade-out(white, .7);
    background-color: $gray-darker;
    p {
        font-size: 12px;
        margin: 0;
    }
    .col {
        text-align: left;
    }
}
